extends ../shared/template
block content
  form(role="form", method='post', action='/treasures')
    .col-xs-6
      input#lat(type='hidden', name='lat')
      input#lng(type='hidden', name='lng')
      .form-group
        label(for="name") name
        input#name.form-control(name='name', type="text", placeholder="Ex. gold")
      .form-group
        label(for="spot") Location
        input#spot.form-control(name='spot', type="text", placeholder="Ex. Nashville")
      .form-group
        label(for='difficulty') Difficulty
        select.form-control#difficulty(name='difficulty', type='text')
          option Easy
          option Medium
          option Hard
       .form-group
        .col-xs-12
          label(for='photo') Photo
          input.form-control#photo(name='photo', type='file')

      .form-group
        .col-xs-12
          label(for="hints") Hints
          textarea.form-control#hints(name='hints', rows="3", placeholder="Ex. Look for Oak tree.  Walk 15 steps north.")

      .form-group
        button.btn.btn-primary(type='submit') Add Treasure

block scripts
  script(src='/js/user/new-treasure.js')
